/* CSS file used to style the footer */
footer {
	background-color: #00FF00;
	height: 60px; /* sets the height of the footer section */
	bottom: 0; /* gives the section a bottom margin of 0 */
}
footer p {
	text-align: center;
}