/* CSS file used in styling the header*/

header {
	background-color: white;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 1px solid #CCCCCC;
}

#header_logo {
    backgroung-image: url("../images/logo.png");
    background-position: center;
    margin-left: 20px;
}
