/* Global Styles - task 4 */
body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100vh;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
	min-height: calc(100vh - 192px);
}