/* Footer styles - task 4 */
footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	border: 1px #CCCCCC;
	border-style: solid none none;
	align-items: center;
	justify-content: center;
	display: flex;
}
