/* header styles - task 4 */
header {
	height: 70px;
	width: 100%;
	color: white;
	border: 1px #CCCCCC;
	border-style: none none solid;
}

.logo-container {
	height: 70px;
	width: 142px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 0 0 20px;
	padding: 0px;
}

.logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 60px;
	width: 142px;
	margin: 0px; padding: 0px;
}
