/* filter styles - task 6 */
.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
	margin-left: auto;
}

.filters button:hover {
	opacity: 90%;
}

.filters .locations,
.filters .amenities {
	height: 100%;
	width: 25%;
	padding-left: 40px;
	position: relative;
}

.filters .locations {border-right: 1px solid #DDDDDD;}

.filters h3 {
	font-weight: 600;
	margin-bottom: 0px;
}

.filters h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 0px;
}


.filters .popover {
	box-sizing: border-box;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: none;
	position: absolute;
	margin: 0 0 0 -40px;
	padding-top: 30px;
	width: 100%;
	list-style-type: none;
}

.filters .locations .popover {padding-bottom: 10px;padding-left: 20px;}

.filters .amenities .popover {
	padding-left: 40px;
	padding-bottom: 25px;
}
.filters .amenities .popover li {margin-bottom: 5px;}

.filters .locations .popover li ul {
	list-style-type: none;
	padding-left: 20px;
}
.filters .locations .popover > li {margin-bottom: 20px;}
.filters .locations .popover li ul li{margin-bottom: 5px;}
.filters .locations .popover h2 {
	font-size: 16px;
	margin: 0px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {display: block;}
